@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #FEF2F2;
}

.particle {
  will-change: transform;
  position: absolute;
  border-radius: 9999px;
}